<h1>{{ title  }}</h1>

<table>
    <tr>
        <td>Sname</td>
        <td>Snumber</td>
    </tr>
    {{#each student}}
    <tr>
        <td>{{Sname}}</td>
        <td>{{Snumber}}</td>
    </tr>
    {{/each}}
</table>